* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--background-image: url('img/bg07.jpg');
}
html { font-size: 16px; }
a { text-decoration: none; }

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: var(--background-image);
	background-size: 100% auto;
}

.container {
	width: 100%;
	min-width: 360px;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
}
/************************************/
/********       LOGO       ********/
#logo {
	font-family: 'Kalam', sans-serif;
	/* font-size: 2.5rem; */
	font-size: 9vw;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: .5rem;

	height: 20vw;
	min-height: 6rem;
	max-height: 25vh;
	overflow: hidden;
	
	background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)), url("img/logo-bg01.jpg");
	background-position: center;
	background-size: cover;
}

/************************************/
/********     SEARCH-BOX     ********/

#search-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 2.5rem;
	top: -2.5rem;
	margin-bottom: -2.5rem;

	/* color: #ffffff; */

	/* border: 1px solid red; */
}

#search-text, #search-cat {
	padding: 0 .5rem;
	/* border: 1px solid orange; */
}
#search-box i {
	font-size: 2rem;
	color: #ffffff;
	border: 1px solid cyan;
}
#search-text-field {
	position: absolute;
	top: 2.5rem;
	/* border: 1px solid blue; */
}
#rec-search {
	font-size: 1.5rem;
	line-height: 1.8rem;
	width: 70vw;
	padding-left: .5rem;
	background-color: rgba(220, 255, 220, 1);
	/* display: none; */
}

#search-cat-list {
	list-style-type: none;
	position: absolute;
	top: 2.5rem;
	right: .5rem;
	/* border: 1px solid yellow; */
	z-index: 5;
}
.search-cat-link {
	font-size: 1.5rem;
	padding: .25rem .5rem;
	background-color: lightgreen;
	background-color: rgba(220, 255, 220, 1);
	margin-bottom: .2rem;
	border-radius: .4rem;
	
	/* border: 1px solid blueviolet; */
}

/* .search-icon-wrapper {
	float: right;
	height: 2.5em;
	margin-top: -2.5em;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px solid yellow;
}
.search-icon {
	color: var(--search-icon-color);
	margin-right: .5em;
	margin-bottom: .3em;
	border: 1px solid red;
}

.search-box {
	float: right;
	position: relative;
	background-color: #fc9038;
	border: 1px solid white;
}

.search-list {
	list-style-type: none;
	display: none;
	position: absolute;
	right: 0;
	z-index: 3;
	border: 1px solid green;
}
.search-list-visible { display: block; }
.search-link {
	font-size: 1.5em;
	color: rgb(40, 40, 40);
	background-color: rgb(250, 249, 184);
	padding: .1em .3em;
	border-left: 2px solid green;
	border-bottom: 2px solid green;
	border-top-left-radius: .3em;
	border-bottom-left-radius: .3em;
}
.search-cat { padding-left: 1em; } */
/**********************************/
/**********     TAGS     **********/

.tag-box {
	margin-top: 1rem;
	/* border: 1px solid blue; */
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.tag-link {
	/* display: inline-block; */
	padding: .1rem .5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	color: white;
	font-family: 'Kalam';

	background-color: rgb(50, 150, 75);
	border-radius: 1rem;
	cursor: pointer;
	/* border: 1px solid brown; */
	border: 1px solid transparent;
	
}

/* .color01 { background-color: #f7a427; }
.color02 { background-color: hsl(155, 72%, 59%); }
.color03 { background-color: #f5ea5a; }
.color04 { background-color: #c277f5; }
.color05 { background-color: #69def3; }
.color06 { background-color: #6bf359; }
.color07 { background-color: #f599d9; }
.color08 { background-color: #fa676f; } */

.unselected {
	opacity: .3;
	border: 1px solid rgb(0, 0, 255);
}

/***********************************/
/**********     FOODS     **********/
.food-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;

	/* border: 1px solid green; */

}

.food-link {
	position: relative;
	width: 150px;
	height: 200px;
	margin: 1rem .5rem;
	border-radius: .5rem;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	
}

.food-link:nth-child(1) { background-image: url("img/food01.jpg"); }
.food-link:nth-child(2) { background-image: url("img/food02.jpg"); }
.food-link:nth-child(3) { background-image: url("img/food03.jpg"); }
.food-link:nth-child(4) { background-image: url("img/food04.jpg"); }
.food-link:nth-child(5) { background-image: url("img/food05.jpg"); }
.food-link:nth-child(6) { background-image: url("img/food06.jpg"); }
.food-link:nth-child(7) { background-image: url("img/food07.jpg"); }
.food-link:nth-child(8) { background-image: url("img/food08.jpg"); }
.food-link:nth-child(9) { background-image: url("img/food09.jpg"); }
.food-link:nth-child(10) { background-image: url("img/food10.jpg"); }
.food-link:nth-child(11) { background-image: url("img/food11.jpg"); }
.food-link:nth-child(12) { background-image: url("img/food12.jpg"); }

.food-name {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 120%;
	text-align: center;
	padding: .5rem 1rem;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;

	color: rgb(245, 245, 245);
	/* color: rgb(252, 136, 159); */
	background-color: rgba(0, 0, 0, .6);
}

/*******************************************/
/**********     MEDIA QUERIES     **********/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#logo {
		font-size: 6.75rem;
	}
}